@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Hand+Pre:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ''
}

body{
    background-image: url('https://wallpapershome.com/images/pages/pic_h/12590.jpg');
            
            
            background-size: cover;          
            background-position: center;     
            background-repeat: no-repeat;  
            background-attachment: fixed;   
            
            
            background-blend-mode: overlay;
            background-color: rgba(102, 126, 234, 0.3);
}

.quote-box{
    background: #fff;
    width: 700px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px;
}
.quote-box h2{
    font-size: 32px;
    margin-bottom: 20px;
    position: relative;
}

.quote-box blockquote{
    font-size: 28px;
    min-height: 110px;
}

.quote-box blockquote::before,
.quote-box blockquote::after {
    content: '"';
}
.quote-box span{
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
    font-size: 22px;
}

.quote-box span::before{
    content:'';
    width:20px;
    height:2px;
    background: rgb(29, 75, 84);
    position:absolute;
    top: 50%;
    left: -30px;
}

.quote-box div{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}


.quote-box button{
    background: rgb(29, 75, 84);
    color: #fff;
    font-size: 23px;
    border-radius: 25px;
    border: 1px solid rgb(29, 75, 84);
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer; 
}


